<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.core.system.mapper.UserMapper">
     <sql id="mgr_condition_sql">
          <if test="userId != null and userId > 0">
               and user_id = #{userId}
          </if>
          <if test="userName != null and userName != ''">
               and username =like CONCAT(CONCAT('%', #{userName}), '%')
          </if>
     </sql>
     <select id="selectAll" resultType="com.blog.core.system.dto.User">
          select * from sys_user d
          <where>
               <include refid="mgr_condition_sql"></include>
          </where>
     </select>
     <select id="qryUserByList" resultType="com.blog.core.system.dto.User" parameterType="java.util.Map">
          select * from sys_user d
          <where>
               <include refid="mgr_condition_sql"></include>
          </where>
     </select>
     <select id="qryUserByUsername" resultType="com.blog.core.system.dto.User" parameterType="java.lang.String">
           select * from sys_user d where d.username = #{username}
     </select>
     <select id="qryUserByIds" resultType="com.blog.core.system.dto.User" >
          select * from sys_user d where user_id in
          <foreach collection="list" item="id" index="index" open="("  close=")"  separator=",">
               #{id}
          </foreach>
     </select>
</mapper>
